p {
    margin-left:1%;
    margin-right:1%;
}

.header {
    background:crimson;
    text-align:center;
}

.screenInventoryWrapper {
    background:black;
    float:left;
    padding:10px;
    min-width: 600px;
    width:60%;
    min-height: 405px;
    height:83%;
    margin-left:3%;

}

.screen {
    background:cadetblue;
    height:81%;
    min-height: 300px;
}

.inventory {
    background:wheat;
    width:100%;
    height:20%;
}

.inventoryCell {
    background:darkcyan;
    width:16%;
    text-align: center;
}

.characterPromptWrapper {
    background:brown;
    float:right;
    padding:10px;
    width:30%;
    height:85%;
    margin-right:3%
}

.objectPicture {
    background:orange;
    float:left;
    width:30%;
    height:94%;
    padding:1%;
    border: 1px solid rgb(34, 32, 32);
}

.objectInfo {
    background:yellow;
    float:right;
    width:60%;
    height:94%;
    padding:1%;
    border:1px solid rgb(34, 32, 32);
}

.characterTableMain {
    background: whitesmoke;
    width:70%;
    height:55%;
    margin: auto;
    cursor: pointer;
}

.characterTable {
    background: whitesmoke;
    width:100%;
    height:100%;
    margin: auto;
    color: black;
    border: 1;
}

.characterCellMain {
    background: rgb(235, 138, 138);
    width: 25%;
    text-align: center;
}

.characterCell {
    cursor: pointer;
}

td {
    border-collapse: collapse;
    border: 2px solid rgb(34, 32, 32);
}

.screenBtns {
    margin: auto;
    min-width: 50px;
    cursor: pointer;
}

.scoreTable {
    margin:auto;
    width:50%;
    background:whitesmoke;
    border: 1px solid rgb(34, 32, 32);
}

#disabler {
    opacity: 0.5;
    margin-bottom: -200px;
}
